* {
  font-family: "Cairo", sans-serif !important;
  font-optical-sizing: auto !important;
  font-variation-settings: "slnt" 0;
}

html {
  background-image: none !important;
}

body {
  background-color: white;
}

#container {
  border: none !important;
}

#container #top .logo {
  background: unset !important;
}

#container #top .logo svg {
  width: 240px;
  height: 50px;
}

[data-theme="dark"] {
  #container #top .logo svg path {
    fill: var(--text-color) !important;
  }
}

#headerForm li a {
  display: flex;
  padding: 0;
}

[id*="menuForm:menuTable:"][id$=":Divs"] td {
  background-color: var(--card-color) !important;
}

.ui-state-default1 {
  border-style: none !important;
}

#menuForm\:menuTable tbody tr td div {
  margin-bottom: 4px !important;
}

#menuForm\:menuTable tbody tr td div h3 {
  border-radius: 8px !important;
}

h2 {
  font-weight: bold !important;
  color: #e0e0e0 !important;
}

.all_menu tr td {
  color: #e0e0e0 !important;
}

.all_menu tr td a {
  border-style: none !important;
}

.all_menu tr td a:hover {
  background-color: var(--hover-color) !important;
}

.top_menu {
  border-radius: 8px !important;
}

#footer {
  background: var(--card-color) url(/yu/skins/1/images/ar/orange_l.gif)
    no-repeat right center !important;
  border-style: none !important;
  border-radius: 8px !important;
}

#footer .bottom_links ul li {
  margin: 0;
  padding-left: 8px;
  padding-right: 8px;
}

#footer .texter {
  background: unset !important;
  width: unset !important;
  margin-top: 0;
  color: var(--text-color) !important;
}

.bottom_links .fontTextMain {
  color: var(--primary-color) !important;
}

.left_dash,
.right_dash {
  background-color: var(--card-color) !important;
}

.data_in_2 li {
  color: var(--text-color) !important;
}

/* Root variables */
:root {
  --primary-color: #f36c24 !important;
  --background-color: white !important;
  --card-color: #e3e3e3 !important;
  --text-color: black !important;
  --link-color: #f36c24 !important;
  --hover-color: gray !important;
  --border-color: #000000 !important;
  --header-background-color: black !important;
  --header-text-color: white !important;
}

/* Dark Theme */
[data-theme="dark"] {
  --primary-color: #ff8c00 !important;
  --background-color: #1d1d1d !important;
  --card-color: #282828 !important;
  --text-color: #e0e0e0 !important;
  --link-color: #ffa500 !important;
  --hover-color: #1f1f1f !important;
  --border-color: #666666 !important;
  --header-background-color: #1e1e1e !important;
  --header-text-color: white !important;
}

/* Light Theme */
[data-theme="light"] {
  --primary-color: #f36c24 !important;
  --background-color: #ffffff !important;
  --card-color: #e3e3e3 !important;
  --text-color: #333333 !important;
  --link-color: #f36c24 !important;
  --hover-color: gray !important;
  --border-color: #000000 !important;
  --header-background-color: #f0f0f0 !important;
  --header-text-color: black !important;
}

body,
#container {
  background-color: var(--background-color) !important;
  color: var(--text-color) !important;
}

p,
span,
a,
a:hover {
  color: var(--text-color) !important;
}
