#left {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#login-vote #login {
  background-color: var(--card-color) !important;
  border: none !important;
}

#container #loginButton {
  background-image: unset !important;
  padding-right: unset !important;
  float: unset !important;

  margin: auto;
  text-align: center;
  background-color: rgb(243, 108, 36);
  color: white;
  font-weight: medium;
  padding: 8px;
  padding-top: unset;
  width: 100%;
  margin-top: 1rem;
  border-radius: 1rem;
  font-size: 1rem;
}

#loginForm .login_form_title {
  display: flex;
}

#loginForm .login_form_title .fontTextMain {
  font-size: 0.9rem;
}

#loginForm input {
  box-shadow: unset !important;
  -webkit-box-shadow: unset !important;
  border: 1px solid #f36c24;
}
